body{
	margin: 0px;
display: flex;
justify-content: center;
height: 4670px;
}
h1 {
	font-family: sans-serif;
	font-size: 45px;
	margin: 0;
	margin-top: 30px;
}
p {
	font-family: sans-serif;
	font-size: 18px;
	line-height: 1.5;
}
button {
	padding: 10px;
	background-color: white;
	height:40px; 
	padding-left: 20px;
	padding-right: 20px;
	font-size: 20px;
	border-color: black;
    border-radius: 5px;
    outline: none;
}
img {
	margin-top: 7vh; 
	margin-right: 90px;
	margin-left: 70px;
}
h2 {
	margin: 0px;
}
textarea {
	width: 340px;
	height: 115px;
	margin-top: 10px;
	border:2px solid black;
	border-radius: 5px;
	margin-left: 2%;
	resize: none;
	outline: none;
}
input[type="submit"] {
	padding: 10px;
	padding: 10px;
	height:40px; 
	padding-left: 20px;
	padding-right: 20px;
	font-size: 20px;
    border-radius: 5px;
    outline: none;
}
.activeButton {
		background-color: #fab811;
		border:none;

}
.main1{
background-color: black;
width: 1440px;
height: 100%;
display: flex;
padding: 0px;
}
.block1 {
height: 100%;
background-color: grey;
width: 280px;
margin: 0px;
padding: 0px;
position: relative;
display: flex;
justify-content: center;
align-items: center;
}
.block2 {
	background-color: white;
	height: 100%;
	display: flex;
	margin: 0px;
	padding: 0px;
	width: 1152px;
	display: flex;
    flex-direction: column;
    
}
.cont0 {
	background-color: lightgray;
	height: 50px;
	width: 100%;
    padding: 0px;
    margin: 0px;
}
.cont1 {
	height: 350px;
	width: 100%;
    padding: 0px;
    margin: 0px;
    display: flex;
 }
.opisanie1 {
 width: 60%;
 height:100%;
 padding: 0px;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 
}
.opisanie2 {
  width: 50%;
 height:100%;
 display: flex;
 flex-direction: column;

}
.textopisanie {
   width: 75%;
   height: 100%;

}
.forms {
	display: flex;
	flex-direction: column;
	height: 48%;
	justify-content: space-between;
	margin-top: 9%;
	margin-left: 7%;
	margin-right: 21%;
	width: 64%;
}
.forms input {
	height: 42px;
	border-radius: 5px;
	border:2px solid black;
	text-align: center;
}
.forms select {
	height: 48px;
	border-radius: 5px;
	border:1px solid black;
	text-align: center;
}
.itogo {
	width: 46%;
	height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    margin-left: 12%;
    font-size: 20px;
}

.block1 p {
	transform:rotate(-90deg);
	position: absolute;
	font-size: 110px;
	color: white;
	white-space: nowrap;
	font-family: sans-serif;
	font-weight: bold;
	letter-spacing: 60px;
}
.cont2 {
	height: 220px;
	margin-top: 2vh;
	margin-left: 25px;
	display: flex;
	justify-content: space-around;
}
.textic {
	height: 100%;
	width: 50%;
	box-sizing: border-box;
	margin-top: 1%;
	margin-left: 1%;
}
.textic h2 {
	margin-top: 1%;
    font-size: 40px; 
    font-style: bold;
    font-family: sans-serif;
}
.textic p {
    margin-top: 2%;
    font-size: 18px;
    white-space: nowrap; 
}
.dveknopki {
		height: 20%;
	width: 30%;
	margin-top: 2%;
	justify-content: space-between;
	display: flex;
	margin-right: 5%;
}

.cont3 {
	width: 100%;
	height: 700px;
	display: flex;
}
.cont31 {
	width: 52%;
	height: 100%;
	display: flex;
	flex-direction: column;
	margin-bottom: 0;
}
.cont32 {
	width: 48%;
	display: flex;
	flex-direction: column;
	padding: 0;
}
.vert {
	margin-left: 120px;
  position: relative;
  width: 450px;
  margin-top: 150px;
}
.vert h1 {
		transform:rotate(-90deg);
		margin: 0px;
		position: absolute;
		left: -200px;
		top: 150px;
       color: black;
}
.vert p {
	color: black;
}
.cont32 img {
	margin-top: 0;
	height: 92%;
	width: 79%;
	margin-left: 4%;
}
.cont32 div {
	margin-top: 0;
	display: flex;
	height: 10%;
	margin-left: 24px;
	width: 78%;
	justify-content: space-between;
}
.cont4 {
	height: 560px;
	width: 100%;
    display: flex;
}
.cont41 {
	width: 50%;
	height: 100%;
	display: flex;
	justify-content: center;
}
.cont41 img {
	width: 58%;
	margin-top: 17%;
	height: 66%;
}
.cont42 {
	width: 53%;
}
.cont422 {
	margin-top: 4%;
	margin-left: 16%;
	height: 92%;
	width: 70%;
	padding-top: 1%;
	background-color: grey;
}
}


.cont423 {
	margin-top: 34px;
	width: 95%;
	height: 46px;
	margin-left: 2%;
	display: flex;
	justify-content: space-between;
}
.cont424 {
	margin-top: 0px;
	width: 95%;
	height: 47px;
	margin-left: 2%;
}
.cont6 {
    height: 400px;
    display: flex;
    align-items: center;
}
.cont61 {
	width: 510px;
	display: flex;
	justify-content: flex-end;
}
.cont61 img {
	height: 270px;
	margin:0;
}
.cont62 {
	width: 400px;
	background-color: grey;
	margin-left: 50px;
}
.DisactivateImage {
	display: none;
}
.cont7 {
	width: 100%;
	height: 450px;
	display: flex;
}
.cont71 {
	height: 300px;
	width: 420px;
	margin-left: 6%;
	margin-top: 11%;
}
.cont71 h2{
	font-weight: bold;
	font-size: 37px;
	font-family: sans-serif;
}
.cont7 img {
width: 524px;
margin-left: 2%;
margin-top: 4%;
}
.hfirst {
	text-align: center;
	margin-top: 9%;
	font-family: sans-serif;
	letter-spacing: 0px;
}
.cont8 {
	background-color: lightgrey;
	width: 100%;
	height: 710px;
	margin-top: 26px;
}
.h2 {
	text-align: center;
	margin-top: 2%;
	font-family: sans-serif;
	letter-spacing: 0px;
	font-size: 39px;
}
.cont9 {
	width: 100%;
	height: 260px;
	margin-top: 26px;
	display: flex;
}
.cont91 {
	width: 31%;
	height: 100%;
    margin-left: 17%;
}
.cont91 input{
	width: 96%;
	border:2px solid black;
	border-radius: 5px;
	margin-left: 2%;
}
.inp1 {
	margin-top: 2%;
	height: 44px;
}
.inp2 {
	margin-top: 4%;
	height: 120px;
	padding-top: 0px;
}
.cont91 button {
	margin-top: 3%;
	margin-left: 2%;
	background-color: #fab811;
	border:none;
}
.cont9 a {
	font-weight: bold;
	font-size: 42px;
    text-decoration: underline;
    color: black;
    font-style:italic;
    font-family: sans-serif;
}
.cont92 {
	margin-top: 40px;
    margin-left: 20px;
}
footer {
	background-color: black;
	height: 130px;
	width: 100%;
	margin-top: 150px;
}
.cont10 {
	background-color: grey;
	margin-left: 7%;
    margin-top: 40px;
    height: 100px;
    width: 83%;
    display: flex;
}
.cont10 div {
	height: 100%;
	background-color: lightgray;
}
.div1 {
	width: 17%;
}
.div2 {
	width: 42%;
	margin-left: 6%;
}
.cont01 {
	background-color: black;
	width: 553px;
    height: 380px;
    margin-left: 37px;
    position: absolute;
    top: -330px;
    border-bottom-left-radius:  10px;
    border-bottom-right-radius:  10px;
  }
.Active {
	top: 0px;
}
.Unactive {
	top: -330px;
}
.cont01 h1 {
	color: white;
	margin-top: 80px;
    font-size: 38px;
    margin-left: 48px;
}
.cont01 p {
	margin-left: 48px;
	margin-right: 5px;
	font-size: 17px;
	color: white;

}
.button01 {
	background-color: #fab811;
	border:none;
	margin-left: 50px;
}
.cont422 span {
font-size: 38px;
font-weight: bold;
font-family: sans-serif;

}