body{
	margin: 0px;
display: flex;
justify-content: center;
height: 4670px;
}
h1 {
	font-family: sans-serif;
	font-size: 45px;
	margin: 0;
	margin-top: 30px;
}
p {
	font-family: sans-serif;
	font-size: 18px;
	line-height: 1.5;
}
button {
	padding: 10px;
	background-color: white;
	height:40px; 
	padding-left: 20px;
	padding-right: 20px;
	font-size: 20px;
	border-color: black;
    border-radius: 5px;
    outline: none;
}
img {
	margin-top: 7vh; 
	width: 90%;
	margin-left: 5%;
}
h2 {
	margin: 0px;
}
.activeButton {
		background-color: #fab811;
		border:none;

}
.main1{
background-color: black;
width: 1440px;
height: 100%;
display: flex;
padding: 0px;
}
.block1 {
height: 100%;
display: flex;
background-color: grey;
width: 280px;
margin: 0px;
padding: 0px;
}
.block2 {
	background-color: white;
	height: 100%;
	display: flex;
	margin: 0px;
	padding: 0px;
	width: 1152px;
	display: flex;
    flex-direction: column;
    
}
.cont0 {
	background-color: lightgray;
	height: 50px;
	width: 100%;
    padding: 0px;
    margin: 0px;
}
.cont1 {
	height: 350px;
	width: 100%;
    padding: 0px;
    margin: 0px;
    display: flex;
 }
.opisanie1 {
 width: 60%;
 height:100%;
 padding: 0px;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 
}
.opisanie2 {
  width: 50%;
 height:100%;
 display: flex;
 flex-direction: column;

}
.textopisanie {
   width: 75%;
   height: 100%;

}
.forms {
	display: flex;
	flex-direction: column;
	height: 48%;
	justify-content: space-between;
	margin-top: 9%;
	margin-left: 7%;
	margin-right: 21%;
	width: 64%;
}
.forms input {
	height: 42px;
	border-radius: 5px;
	border:2px solid black;
	text-align: center;
}
.forms select {
	height: 48px;
	border-radius: 5px;
	border:1px solid black;
	text-align: center;
}
.itogo {
	width: 46%;
	height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    margin-left: 12%;
    font-size: 20px;
}

.block1 p {
	transform:rotate(90deg);
}
.cont2 {
	height: 220px;
	width: 100%;
	margin-top: 2vh;
	display: flex;
	justify-content: space-around;
}
.textic {
	height: 100%;
	width: 50%;
	box-sizing: border-box;
	margin-top: 1%;
	margin-left: 1%;
}
.textic h2 {
	margin-top: 1%;
    font-size: 40px; 
    font-style: bold;
    font-family: sans-serif;
}
.textic p {
    margin-top: 2%;
    font-size: 18px;
    white-space: nowrap; 
}
.dveknopki {
		height: 20%;
	width: 30%;
	margin-top: 2%;
	justify-content: space-between;
	display: flex;
	margin-right: 5%;
}

.cont3 {
	width: 100%;
	height: 700px;
	display: flex;
	background-color: grey;
}
.cont31 {
	width: 52%;
	height: 100%;
	display: flex;
	flex-direction: column;
	margin-bottom: 0;
}
.cont32 {
	width: 48%;
	display: flex;
	flex-direction: column;
	padding: 0;
}
.vert {
	margin-left: 10%;
	margin-top: 0%;
	height: 80%;
	background-color: lightgrey;
  
}
.vert h2 {
}
.vert p {
	font-size: 11px;
	line-height: 14px;
}
.cont32 img {
	margin-top: 0;
	height: 92%;
	width: 79%;
	margin-left: 4%;
}
.cont32 div {
	margin-top: 0;
	display: flex;
	height: 10%;
	margin-left: 15%;
	width: 68%;
	justify-content: space-between;
}
.cont4 {
	height: 560px;
	width: 100%;
    display: flex;
}
.cont41 {
	width: 50%;
	height: 100%;
	display: flex;
	justify-content: center;
}
.cont41 img {
	width: 58%;
	margin-top: 17%;
	height: 66%;
}
.cont42 {
	width: 53%;
	background-color: gray;
}
.cont422 {
	margin-top: 4%;
	margin-left: 16%;
	height: 92%;
	width: 70%;
	padding-top: 1%;
	background-color: lightgray;
}
}
.cont422 p {
	white-space: nowrap;
}

.cont422 span {
font-size: 40px;
font-weight: bold;
font-family: sans-serif;
}
.cont423 {
	margin-top: 34px;
	background-color: blue;
	width: 95%;
	height: 46px;
	margin-left: 2%;
	display: flex;
	justify-content: space-between;
}
.cont424 {
	margin-top: 0px;
	background-color: red;
	width: 95%;
	height: 47px;
	margin-left: 2%;
}
.cont6 {
    width: 100%;
    height: 400px;
    display: flex;
    background-color: green;
}
.cont61 {
 width:36%;
 height: 100%;
}
.cont61 img {
	margin-top: 7%;
	width: 152px;
	height: 330px;
	margin-left: 52%;
}
.cont62 p {
	margin-left: 13%;
	margin-top: 37%;
	font-size: 19px;
	line-height: 20px;
	white-space: nowrap;
	font-family: sans-serif;
}
.DisactivateImage {
	display: none;
}
.cont7 {
	width: 100%;
	height: 450px;
	display: flex;
}
.cont71 {
	height: 300px;
	width: 420px;
	margin-left: 6%;
	margin-top: 11%;
}
.cont71 h2{
	font-weight: bold;
	font-size: 37px;
	font-family: sans-serif;
}
.cont7 img {
width: 524px;
margin-left: 2%;
margin-top: 4%;
}
.hfirst {
	text-align: center;
	margin-top: 9%;
	font-family: sans-serif;
	letter-spacing: 0px;
}
.cont8 {
	background-color: lightgrey;
	width: 100%;
	height: 710px;
	margin-top: 26px;
}
.h2 {
	text-align: center;
	margin-top: 2%;
	font-family: sans-serif;
	letter-spacing: 0px;
	font-size: 39px;
}
.cont9 {
	width: 100%;
	height: 260px;
	margin-top: 26px;
	display: flex;
}
.cont91 {
	width: 31%;
	height: 100%;
    margin-left: 17%;
}
.cont91 input{
	width: 96%;
	border:2px solid black;
	border-radius: 5px;
	margin-left: 2%;
}
.inp1 {
	margin-top: 2%;
	height: 44px;
}
.inp2 {
	margin-top: 4%;
	height: 120px;
	padding-top: 0px;
}
.cont91 button {
	margin-top: 3%;
	margin-left: 2%;
	background-color: #fab811;
	border:none;
}
.cont9 p {
	font-weight: bold;
	font-size: 36px;
	margin-top: 4%;
    margin-left: 4%;
}
footer {
	background-color: black;
	height: 130px;
	width: 100%;
	margin-top: 150px;
}
.cont10 {
	background-color: grey;
	margin-left: 7%;
    margin-top: 40px;
    height: 100px;
    width: 83%;
    display: flex;
}
.cont10 div {
	height: 100%;
	background-color: lightgray;
}
.div1 {
	width: 17%;
}
.div2 {
	width: 42%;
	margin-left: 6%;
}